@import '../elements/navbar';
@import '../elements/file_list';

.ev-upload-btn {
  position: absolute;
  right: 174px;
  bottom: 33px;
  height: 48px;
  line-height: 48px;
  width: 132px;
  text-align: center;

  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}
