@import "@material/button/mdc-button";

@import '../elements/navbar';
@import '../elements/document_card';

html, body {
  height: 100%;
}

.ev-download {
  height: 100%;
}
.ev-download__main {
  height: calc(100% - #{$ev-navbar-height});
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;

  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    height: auto;
    margin-top: 40px;
  }
}

.ev-download__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }
}

.ev-download__card-wrapper {
  min-width: $document-card-max-width;
}

.ev-download__text {
  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    margin: 20px 0px 0px 0px;
    max-width: $document-card-max-width;
    font-size: 20px;
  }

  @media(min-width: mdc-layout-grid-breakpoint-min('tablet')) {
    margin: 20px 0px 0px 0px;
    max-width: 500px;
    font-size: 30px;
  }

  @media(min-width: mdc-layout-grid-breakpoint-min('desktop')) {
    margin: 0px 0px 0px 20px;
    max-width: 390px;
    font-size: 30px;
  }
}

.ev-download__image {
  position: absolute;
  z-index: -1;
  left: 20%;
  max-width: 320px;

  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    max-width: $document-card-max-width;
    position: absolute;
    max-width: 200px;
    bottom: 160px;
  }
}
