@import "../elements/extension_footer";
@import "../elements/plus_btn";
@import "../elements/extension_document_list";

.ev-extension-app__container {
  padding-top: $ev-navbar-height;
}

.ev-extension-app__empty-state {
  position: relative;
  text-align: center;
  margin: auto;
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.ev-extension-app__empty-state-image {
  width: 60%;
}

.ev-extension-app__empty-state-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 20px;
}
