@import "@material/button/mdc-button";

$ev-index__cell-padding: 25px;

.ev-index {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: auto;
}

.ev-index .ev-navbar {
  width: calc(100% - 20px);
  margin: 20px;
}

.ev-index__main {
  padding-bottom: 30px;
  margin-top: 30px;
}

.ev-index__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 140px 80px;
  @media(max-width: mdc-layout-grid-breakpoint-max('tablet')) {
    margin: 60px 20px;
  }
}

.ev-index__section--reverse {
  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    flex-flow: wrap-reverse;
  }
}

.ev-index__section--only-phone {
  @media(min-width: mdc-layout-grid-breakpoint-max('phone')) {
    display: none;
  }
}

.ev-index__section-cell {
  width: calc(50% - #{$ev-index__cell-padding*2});

  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    width: 100%;
    margin: 10px 0;
  }
}

.ev-index__section-cell--image {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.ev-index__section-cell--image-double {
  img {
    max-width: 49%;
  }
}

.ev-index__section-cell--text {
  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    font-size: 24px;
    text-align: center !important;
  }

  @media(min-width: mdc-layout-grid-breakpoint-min('tablet')) {
    font-size: 24px;
  }

  @media(min-width: mdc-layout-grid-breakpoint-min('desktop')) {
    font-size: 36px;
  }
}

.ev-index__section-cell--text-center {
  text-align: center;
}

.ev-index__section-cell--text-right {
  text-align: right;
}

.ev-index__section-cell--text-small {

  @media(max-width: mdc-layout-grid-breakpoint-max('phone')) {
    font-size: 20px;
  }

  @media(min-width: mdc-layout-grid-breakpoint-min('tablet')) {
    font-size: 20px;
  }

  @media(min-width: mdc-layout-grid-breakpoint-min('desktop')) {
    font-size: 24px;
  }
}

.ev-index__section-cell--product-hunt {
  width: 100%;
  text-align: center;
}

.ev-index__sign-in-btn {
  @extend .mdc-button, .mdc-button--raised;
  @include mdc-button-filled-accessible(black)
  text-decoration: none;
  margin-top: 30px;
  height: 48px;
  width: 280px;

  @media(max-width: mdc-layout-grid-breakpoint-min('desktop')) {
    width: 200px;
  }
}

.ev-index__go-to-app-btn {
  @extend .ev-index__sign-in-btn;
  width: 140px;
}

.ev-google-play-logo {
  width: 180px;
  margin-top: 20px;
}

.ev-index__upload-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.ev-index__upload-label {
  cursor: pointer;
}

.ev-index__section-cell-full {
  width: 100%;
  padding: 20px 0;
}

.ev-index__section-cell-third {
  width: calc(50% - #{$ev-index__cell-padding});
  padding: 20px 0;

  @media(max-width: mdc-layout-grid-breakpoint-max('tablet')) {
    width: 100%;
  }
}

.ev-index__extension {
  width: calc(100% - 40px);
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
}

a:hover .ev-index__extension {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
}

.ev-index__extension-link:hover {
  text-decoration: none;
}

.ev-index__extension-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.ev-index__extension-name {
  font-size: 24px;
}