<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Download</h1>
    <p><a href="<%= file.url %>"><%= file.name %></a></p>
  </body>
</html>
