<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p><a href="<%= url %>" target="_blank">Download File</a></p>
    <p>Size: <%= size %>B</p>
  </body>
</html>
