.ev-document-card {
  max-width: $document-card-max-width;
  border: 1px solid $gray-light;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px rgba(209,209,209,0.81);
  background-color: white;
}

.ev-document-card__disabled {
  opacity: 0.5;
}

.ev-document-card__media {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $gray-light;
  min-height: 180px;
}

.ev-document-card__media-image {
  height: 85px;
  width: 85px;
}

.ev-document-card__media-kebab {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  margin: 10px;
  background-image: url('/images/baseline-more_vert-24px.svg');
}

.ev-document-card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.ev-document-card__body-left {
  width: 80%;
}

.ev-document-card__body-right {
  text-align: right;
  align-self: flex-start;
}

.ev-document-card__text-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 21px;
  color: $text-primary;
  padding-bottom: 4px;
}

.ev-document-card__open {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url("/images/baseline-open_in_new-24px.svg");
}

.ev-document-card__text-primary {
  font-size: 15px;
  color: $text-primary;
  padding-bottom: 4px;
}

.ev-document-card__text-secondary {
  font-size: 15px;
  color: $text-secondary;
  padding-bottom: 4px;
}

.ev-document-card__controls {
  display: flex;
  alignt-items: center;
  justify-content: space-around;
  padding: 8px;
}

.ev-document-card__btn {
  @extend .mdc-button, .mdc-button--outlined;
  height: 36px;
  width: 100%;
  color: black !important;
  border-color: rgba(0, 0, 0, 0.12) !important;
}

// Modifications for the download version of the card

.ev-document-card--download {
  width: $document-card-max-width;
}

.ev-document-card__media--download {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: $gray-light;
  min-height: 200px;
}

.ev-document-card__media-percentage {
  padding: 20%;
  font-size: 25px;
}

.ev-document-card__media-bytes {
  font-size: 15px;
}

.ev-document-card__body--download {
  display: block;
}

.ev-document-card__text-title--download {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
  word-break: break-all;
}

.ev-document-card__btn--download {
  @extend .mdc-button, .mdc-button--raised;
  text-decoration: none;
  height: 36px;
  width: 100%;
}

.ev-document-card__btn--download-loading {
  background-color: rgba(0, 0, 0, 0.12) !important;
  color: rgba(0, 0, 0, 0.37) !important;
  box-shadow: none !important;
}

.ev-document-card__text-title--download-loading {
  height: 20px;
  background-color: #e8e6e6;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ev-document-card__text-primary--download-loading {
  height: 20px;
  background-color: #e8e6e6;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30%;
}
