.ev-drop-zone {
  background: rgba($ev-yellow, 0.97);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
}

.ev-drop-zone--open {
  visibility: visible;
}
