.ev-extension-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid $gray-light;
  background-color: white;
}

.ev-extension-footer__text {
  padding: 0 18px;
  font-size: $text-small;
}

.ev-extension-footer__icon {
  cursor: pointer;
  padding: 0 18px;
}
