@import "./reset";
@import "./variables";

// Overrides
$mdc-theme-primary: $ev-yellow;

@import "./style";
@import "./pages/*";

.hide {
  display: none;
}

.ev-login-controls {
  padding: 40px;
  text-align: center;

  & > a {
    margin: 10px;
  }
}
