@import "./variables";

// Overrides must exist before imports
$mdc-theme-primary: $ev-yellow;
$mdc-typography-font-family: unquote("Questrial, sans-serif") !default;

@import "./reset";
@import "@material/snackbar/mdc-snackbar";
@import "@material/layout-grid/mdc-layout-grid";
@import "./style";
@import "./layouts/*";
@import "./pages/*";

html, body {
  min-width: 320px;
}

.hide {
  display: none;
}

.ev-login-controls {
  padding: 40px;
  text-align: center;

  & > a {
    margin: 10px;
  }
}

.ev-h1 {
  font-size: 30px;
}
