@font-face {
  font-family: 'Questrial';
  src: url(/fonts/Questrial-Regular.ttf) format('truetype');
}

body {
  font-size: 18px;

  font-family: 'Questrial', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
 text-decoration: underline; 
}

.ev-body__homepage {
  background: $ev-yellow;
}
