$ev-yellow: #FBC02D;
$gray-light: #e9e9e9;
$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.6);

// Elements

$document-card-max-width: 260px;
$document-list-gutter: 10px;
$ev-navbar-height: 64px;
$logo-height: 30px;
