<nav class="ev-navbar ev-navbar--inverted">
  <ul class="ev-navbar__items">
    <li class="ev-navbar__item">
      <div class="ev-upload-btn">
        <i class="material-icons">add</i>
        <input
          type="file"
          name="file-upload" />
      </div>
    </li>
    <li class="ev-navbar__item  ev-navbar__item--no-pading">UPLOAD</li>
  </ul>
</nav>
