<nav class="ev-extension-footer">
    <div class="ev-extension-footer__text">
      Alt + Shift + W <span class="ev-text-secondary">to open Envelop</span>
    </div>
    <div class="ev-extension-footer__icon">
      <i class="material-icons">input</i>
    </div>
</nav>
