<nav class="ev-navbar <%= hide_shadow && 'ev-navbar--no-shadow' %>">
  <a class="ev-navbar__logo" href="/">
    <%= image_tag('logo.svg', alt: 'envelop') %>
  </a>
  <ul class="ev-navbar__items">
    <li class="ev-navbar__item js-navbar-user"></li>
  </ul>
</nav>
