---
name: app
title: Manage files – envelop
description: Share private files easily with envelop
---

<div class="ev-page-app">
  <nav class="ev-navbar">
    <a class="ev-navbar__logo" href="/">
      <%= image_tag('logo.svg', alt: 'envelop') %>
    </a>
    <ul class="ev-navbar__items">
      <li class="ev-navbar__item js-navbar-user hide">
        <a href="#" class="ev-navbar__item-link">
          <span class="js-username" style="padding-right: 10px"></span>
          <%= image_tag('default-avatar.png', class: 'ev-navbar__avatar', alt: 'avatar') %>
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <input class="js-file-input hide" type="file" name="file-input" />
    <div class="js-file-list-container ev-file-list-container"></div>
  </main>
</div>
