---
name: app
title: Manage files – envelop
description: Share private files easily with envelop
---

<div class="ev-page-app">
  <nav class="ev-navbar">
    <a class="ev-navbar__logo" href="/">
      <%= image_tag('logo.svg', alt: 'envelop') %>
    </a>
    <ul class="ev-navbar__items">
      <li class="ev-navbar__item js-navbar-user"></li>
    </ul>
  </nav>

  <main>
    <input class="js-file-input hide" type="file" name="file-input" />
    <div class="js-document-list-container ev-document-list-container"></div>
  </main>
</div>
