---
name: app
title: Files – envelop
description: Share private files easily with envelop
---

<div class="ev-app">
  <%= partial :navbar %>

  <main class="ev-app__main">
    <div class="js-app-container"></div>
  </main>
</div>
