---
name: download
title: Download file - Envelop
description: Download this file shared with Envelop
---

<div class="ev-download">
  <%= partial :navbar %>

  <main class="ev-download__main js-download-container"></main>
</div>
