---
name: download
title: Download file - Envelop
description: Download this file shared with Envelop
---

<% content_for(:og_image, "og-image-download.png") %>

<div class="ev-download">
  <%= partial :navbar %>

  <main class="ev-download__main js-download-container"></main>
</div>
