---
name: download
title: Download file – envelop
description: Share private files easily with envelop
---

<div class="ev-download">
  <%= partial :navbar %>

  <main class="ev-download__main js-download-container"></main>
</div>
