---
name: extension-login
layout: extension
---

<div class="ev-extension-login">
  <div class="ev-extension-login__logo">
    <%= image_tag('logo.svg', alt: 'envelop') %>
  </div>
  <div class="ev-extension-login__description">
    Share files easily while still owning them
  </div>
  <div>
    <button class="ev-login-btn js-login-btn">
      <img src="/images/blockstack-logo.svg" />
      Sign In with Blockstack
    </button>
  </div>
</div>
