---
name: extension_app
title: Files – envelop extension
description: Share private files easily with envelop
layout: extension
---

<div class="ev-extension-app hide">
  <main class="ev-extension-app__main">
    <div class="js-extension-app-container"></div>
  </main>

  <%= partial(:extension_footer) %>
</div>
