---
name: faq
title: envelop – frequently asked questions
description: Share private files easily with envelop
layout: public
---

<div class="ev-faq__main">
  <section>
    <h1 class="ev-h1">Frequently Asked Questions</h1>
    <br />
    <br />

    <dl class="ev-dl">
      <dt>What is Blockstack? Why do I have to create an account on it?</dt>
      <dd>
        <p>Blockstack provides a way to sign into multiple apps similar to signing in with Google or Facebook. But with Blockstack you don’t lose control over your data. Blockstack let’s you configure where you want your data to be stored. That’s why we picked Blockstack as our authentication service, because we believe you should have ownership of your data.</p>
        <p>Learn more at <a href="https://blockstack.org/try-blockstack">https://blockstack.org/try-blockstack</a></p>
      </dd>

      <dt>I want to send a file to a colleague/friend. Do they need a Blockstack account?</dt>
      <dd>
        <p>No, they do not need to have a Blockstack account or have used Envelop before. With the link Envelop provides after you upload a file, he/she will be able to easily download the file.</p>
      </dd>

      <dt>Is there any limit to what I can upload and store?</dt>
      <dd>
        <p>When you sign up in Blockstack, it offers a default storage without limits. You can upload unlimited large files, and there’s no limit in how much you can store.</p>
        <p>If you setup your own storage in Blockstack, there’s still no limit on the file size you can upload. But how much you can store is limited to how much storage you have made available.</p>
      </dd>

      <dt>How can this be free?</dt>
      <dd>
        <p>Blockstack is offering free unlimited storage because they want to attract more users and apps to their platform.</p>
        <p>Envelop’s base functionality, upload and share unlimited files, will always be free because:
        We want to incentivize the use of decentralized apps, apps where you don't need to give up the ownership of your data.
        Our costs for offering this base features are very low, because we don't store your files on our servers, like most file-sharing apps do.</p>
        <p>In the future, we might add some extra features that might be paid. But we’ll never make money at the expense of your private data.</p>
      </dd>

      <dt>Where are my files stored?</dt>
      <dd>
        <p>When you create your account on Blockstack, they offer you free storage. That storage is managed by Blockstack, and it’s where your files will be stored by default. But, at any time, you can configure your account on Blockstack to store your files in a storage you control.</p>
      </dd>

      <dt>How can I configure where my files are stored?</dt>
      <dd>
        <p>For now, this still requires some technical knowledge. But it should become easier in the near future. Follow the steps to configure your own storage on Blockstack, and therefore, Envelop at <a href="https://docs.blockstack.org/storage/hub-choice.html">Hubs and user choice</a>.</p>
      </dd>

      <dt>Are my files safe?</dt>
      <dd>
        <p>All data is encrypted and stored safely on the storage you pick. Only you have access to your files, through your Blockstack account. But every time you upload a file, you get a link to share it. It's important to be careful sharing that link, because it enables anyone to download your file. It's also a good idea to delete a file from Envelop once you no longer need to share it.</p>
      </dd>

      <dt>Do I need to trust you?</dt>
      <dd>
        <p>All your files get stored in the storage you configure. Envelop does not have any server, and none of your files passes through us.</p>
        <p>We also don't track any information with our applications. More details in our <a href="https://envelop.app/privacy_policy.html">Privacy Policy</a>.</p>
        <p>Plus, both our web and Android apps are <a href="https://github.com/envelop-app">open source</a>, so others can confirm they are operating correctly and we are not doing anything malicious.</p>
      </dd>

      <dt>Do you have my data?</dt>
      <dd>
        <p>No, we don't collect or store any user data. More information on our <a href="https://envelop.app/privacy_policy.html">Privacy Policy</a>.</p>
      </dd>

      <dt>I need help with Envelop? I have a suggestion for Envelop?</dt>
      <dd>
        <p>Reach us out at <a href="mailto:feedback@envelop.app">feedback@envelop.app</a></p>
      </dd>
    </dl>
  </section>
</div>
