---
name: homepage
title: envelop – share private files easily
description: Share private files easily with envelop
---

<div class="ev-index">
  <%= partial(:navbar, locals: { hide_shadow: true }) %>

  <main class="ev-index__main">

    <section class="ev-index__section">
      <div class="ev-index__section-cell ev-index__section-cell--image">
        <img src="/images/Placeholder-web-landing.png" />
      </div>
      <div class="ev-index__section-cell ev-index__section-cell--text">
        <div>Share private files easily, without losing their ownership</div>
        <button class="ev-index__sign-in-btn">Sign In</button>
      </div>
    </section>

    <section class="ev-index__section ev-index__section--reverse">
      <div class="ev-index__section-cell ev-index__section-cell--text ev-index__section-cell--text-right">
        Upload a file,<br>
        get a download link,<br>
        and share it<br>
        <br>
        Try it right now!
      </div>
      <div class="ev-index__section-cell ev-index__section-cell--image">
        <img src="/images/card-upload.svg" />
      </div>
    </section>

    <section class="ev-index__section">
      <div class="ev-index__section-cell ev-index__section-cell--image">
        <img src="/images/graphic-lock.svg" />
      </div>
      <div class="ev-index__section-cell ev-index__section-cell--text">
        <div>
          Envelop runs on blockstack.<br>
          You decide where your files are stored.
        </div>
        <br>
        <div class="ev-index__section-cell--text-small">
          Use the defaule storage (infinite space with a 25MB file limit), or setup your own storage.
        </div>
      </div>
    </section>

    <section class="ev-index__section ev-index__section--reverse">
      <div class="ev-index__section-cell ev-index__section-cell--text ev-index__section-cell--text-right">
        <div>
          Upload, share and manage files on the go.<br>
          Try our Android app
        </div>
        <img class="ev-google-play-logo" src="/images/google-play-badge.png" />
      </div>
      <div class="ev-index__section-cell ev-index__section-cell--image-double">
        <img src="/images/placeholder-landing-mobile1.png" />
        <img src="/images/placeholder-landing-mobile2.png" />
      </div>
    </section>
  </main>
</div>

<div class="homepage">
  <footer>
    <div class="links">
      <ul>
        <li><a href="https://twitter.com/envelopapp" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/envelop-app" target="_blank">Github</a></li>
        <li><a href="https://commerce.coinbase.com/charges/GL789L69" target="_blank">Donate</a></li>
      </ul>
    </div>
    <div class="made">
      Made by 
      <a href="https://bloco.io">
        <%= image_tag('bloco.svg', alt: 'Bloco', class: 'bloco') %>
      </a>
      & friends
    </div>
  </footer>
</div>
