---
title: envelop – share private files easily
description: Share private files easily with envelop
---

<div class="homepage">
  <header>
    <h1 class="logo">
      <a href="/">
        <%= image_tag('logo.svg', alt: 'envelop') %>
      </a>
    </h1>
    <div class="cta">
      <a href="https://play.google.com/store/apps/details?id=app.envelop" class="google-play">
        <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" />
      </a>
    </div>
  </header>

  <main>
    <div class="content">
      <p class="screenshot">
        <a href="https://play.google.com/store/apps/details?id=app.envelop">
          <%= image_tag('screenshot-share.png', alt: 'App screenshot') %>
        </a>
      </p>

      <h2 class="tagline">
        Share private files easily,<br/>without losing their ownership.
      </h2>
      <p class="description">
        Upload a file, get a download link and share it.
      </p>
      <p class="description">
        With <a href="https://blockstack.org" target="_blank">Blockstack</a>,
        you decide where your files are stored.<br/>
        Use the default storage (infinite space with a 25MB file limit),<br/>
        or <a href="https://docs.blockstack.org/storage/overview.html" target="_blank">setup your own storage</a>.
      </p>
    </div>

  </main>

  <footer>
    <div class="links">
      <ul>
        <li><a href="https://twitter.com/envelopapp" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/envelop-app" target="_blank">Github</a></li>
        <li><a href="https://commerce.coinbase.com/charges/GL789L69" target="_blank">Donate</a></li>
      </ul>
    </div>
    <div class="made">
      Made by 
      <a href="https://bloco.io">
        <%= image_tag('bloco.svg', alt: 'Bloco', class: 'bloco') %>
      </a>
      & friends
    </div>
  </footer>
</div>
