---
title: Welcome to Middleman
---

<h1>
  Middleman is Running
</h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>

<button class="foo-button mdc-button">
  Button
</button>
