---
name: privacy_policy
title: envelop – share private files easily
description: Share private files easily with envelop
layout: public
---

<div class="ev-privacy-policy__main">
  <section>
    <h1 class="ev-h1">Privacy Policy</h1>
    <br />
    <br />

    <p>This privacy policy referes to the <a href="https://envelop.app" rel="nofollow">https://envelop.app</a> web application and the Envelop Android application.</p>
    <br />
    <p>We don&#39;t track, transfer or collect any data, personal or otherwise, with the Envelop applications.</p>
    <br />
    <p>Envelop relies on Blockstack for authentication, but all identifiable information is managed by Blockstack, it&#39;s only stored locally in your device, and is never transferred anywhere else outside your device.</p>
    <br />
    <p>All uplodaded files are privately stored at the location chosen by the user on their Blockstack account.</p>
    <br />
    <p>On the Envelop Android application, the Android operative system may automatically collect reports regarding the performance of the application. Those reports are stored and managed by Google. But we have no access to any personal identifiable information from them. </p>
    <br />
    <p>If you have any questions about this Privacy Policy, please contact by email: <a href="mailto:hello@envelop.app">hello@envelop.app</a></p>
    <br />
    <br />
    <p>July 12, 2019</p>
  </section>
</div>
